USE [master]
GO
/****** Object:  Database [21.102-08-VP_PM]    Script Date: 19.06.2024 19:27:25 ******/
CREATE DATABASE [21.102-08-VP_PM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'21.102-08-VP_PM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21.102-08-VP_PM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'21.102-08-VP_PM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21.102-08-VP_PM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [21.102-08-VP_PM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [21.102-08-VP_PM]
GO
/****** Object:  Table [dbo].[AdditionalServices]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalServices](
	[ID_AddService] [int] NOT NULL,
	[ID_Object] [int] NULL,
	[ServiceName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AddService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID_Client] [int] NOT NULL,
	[ClientName] [varchar](50) NULL,
	[ClientSurname] [varchar](50) NULL,
	[ClientPatronymic] [varchar](50) NULL,
	[phoneNumber] [varchar](10) NULL,
	[Client_login] [varchar](50) NULL,
	[Client_pswd] [varchar](100) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionMaterials]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionMaterials](
	[ID_ConstMaterial] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [varchar](50) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK__Construc__C50613174327AD7F] PRIMARY KEY CLUSTERED 
(
	[ID_ConstMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionPhases]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionPhases](
	[ID_Phase] [int] NOT NULL,
	[PhaseName] [varchar](50) NULL,
	[ID_Object] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignerServices]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignerServices](
	[ID_DesService] [int] NOT NULL,
	[ID_Object] [int] NULL,
	[DesServiceName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DesService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialData]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialData](
	[ID_FinancialData] [int] NOT NULL,
	[ID_Object] [int] NULL,
	[Year] [int] NULL,
	[TaxAmount] [decimal](10, 2) NULL,
	[StatisticReport] [varchar](100) NULL,
 CONSTRAINT [PK_FinancialData] PRIMARY KEY CLUSTERED 
(
	[ID_FinancialData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinishingMaterials]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishingMaterials](
	[ID_FinMaterial] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [varchar](50) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK__Finishin__C5061317DE9A881F] PRIMARY KEY CLUSTERED 
(
	[ID_FinMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID_Gender] [int] NOT NULL,
	[NameGender] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID_Gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialBatches]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialBatches](
	[ID_Batch] [int] NOT NULL,
	[ID_ConstMaterial] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Batch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[ID_Object] [int] NOT NULL,
	[ID_Order] [int] NOT NULL,
	[ID_ConstMaterial] [int] NOT NULL,
	[ID_FinMAterial] [int] NOT NULL,
	[NameObject] [varchar](50) NULL,
	[FoundationStatus] [varchar](20) NULL,
	[FrameStatus] [varchar](20) NULL,
	[RoofStatus] [varchar](20) NULL,
	[InteriorStatus] [varchar](20) NULL,
	[TechnicalControlStatus] [varchar](20) NULL,
 CONSTRAINT [PK__Objects__9A6192B1F18F560B] PRIMARY KEY CLUSTERED 
(
	[ID_Object] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_Order] [int] NOT NULL,
	[ID_Client] [int] NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK__Orders__C3905BAF6AB8891A] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] NOT NULL,
	[RoleName] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityServices]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityServices](
	[ID_SecService] [int] NOT NULL,
	[ID_Object] [int] NULL,
	[SecServiceName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SecService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 19.06.2024 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[ID_Worker] [int] IDENTITY(1,1) NOT NULL,
	[ID_Object] [int] NULL,
	[ID_Role] [int] NULL,
	[ID_Gender] [int] NULL,
	[WorkerName] [varchar](50) NOT NULL,
	[WorkerSurname] [varchar](50) NOT NULL,
	[WorkerPatronymic] [varchar](50) NULL,
	[serie_pass] [varchar](50) NULL,
	[number_pass] [varchar](50) NULL,
	[phoneNumber] [varchar](50) NULL,
	[w_login] [varchar](50) NOT NULL,
	[w_pswd] [varchar](150) NOT NULL,
	[TwoFactorAuth] [int] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[ID_Worker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdditionalServices]  WITH CHECK ADD  CONSTRAINT [FK__Additiona__Objec__4316F928] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[AdditionalServices] CHECK CONSTRAINT [FK__Additiona__Objec__4316F928]
GO
ALTER TABLE [dbo].[ConstructionPhases]  WITH CHECK ADD  CONSTRAINT [FK__Construct__Objec__46E78A0C] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[ConstructionPhases] CHECK CONSTRAINT [FK__Construct__Objec__46E78A0C]
GO
ALTER TABLE [dbo].[DesignerServices]  WITH CHECK ADD  CONSTRAINT [FK__DesignerS__Objec__4F7CD00D] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[DesignerServices] CHECK CONSTRAINT [FK__DesignerS__Objec__4F7CD00D]
GO
ALTER TABLE [dbo].[FinancialData]  WITH CHECK ADD  CONSTRAINT [FK_FinancialData_Objects] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[FinancialData] CHECK CONSTRAINT [FK_FinancialData_Objects]
GO
ALTER TABLE [dbo].[MaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK__MaterialB__Mater__3B75D760] FOREIGN KEY([ID_ConstMaterial])
REFERENCES [dbo].[ConstructionMaterials] ([ID_ConstMaterial])
GO
ALTER TABLE [dbo].[MaterialBatches] CHECK CONSTRAINT [FK__MaterialB__Mater__3B75D760]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK__Objects__OrderID__3E52440B] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Orders] ([ID_Order])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK__Objects__OrderID__3E52440B]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_ConstructionMaterials] FOREIGN KEY([ID_ConstMaterial])
REFERENCES [dbo].[ConstructionMaterials] ([ID_ConstMaterial])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_ConstructionMaterials]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_FinishingMaterials] FOREIGN KEY([ID_FinMAterial])
REFERENCES [dbo].[FinishingMaterials] ([ID_FinMaterial])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_FinishingMaterials]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Clients] ([ID_Client])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[SecurityServices]  WITH CHECK ADD  CONSTRAINT [FK__SecurityS__Objec__52593CB8] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[SecurityServices] CHECK CONSTRAINT [FK__SecurityS__Objec__52593CB8]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Gender] FOREIGN KEY([ID_Gender])
REFERENCES [dbo].[Gender] ([ID_Gender])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Gender]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Objects] FOREIGN KEY([ID_Object])
REFERENCES [dbo].[Objects] ([ID_Object])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Objects]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Role] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Role]
GO
USE [master]
GO
